<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">
    Bookstore
    </h1>
    <p class="subtitle">
      Not all readers are leaders, but all leaders are <strong> readers </strong>!
    </p>
    <img class="img-responsive" src="assets/homephoto.png">
    
  </div>
</section>
</body>
</html>