<form class="form-control" name="review" (ngSubmit)="add()">

    <div class="col-sm-3">
      <label for="bookTitle" class="form-label"> Review for </label>
    </div>
    <div class="container d-flex justify-content-center mt-100" >
        <div class="row" style="width:50%">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="mt-1">Rate us</h4>
                        <fieldset class="rating"> 
                            <input type="radio" id="star5" name="rating" value="5" [(ngModel)]="star5" />
                            <label class="full" for="star5" title="Awesome - 5 stars">

                            </label> <input type="radio" id="star4" name="rating" value="4" [(ngModel)]="star4"/>
                            <label class="full" for="star4" title="Pretty good - 4 stars"></label>

                             <input type="radio" id="star3" name="rating" value="3" [(ngModel)]="star3" />
                             <label class="full" for="star3" title="Meh - 3 stars"></label> 

                              <input type="radio" id="star2" name="rating" value="2" [(ngModel)]="star2" />
                             <label class="full" for="star2" title="Kinda bad - 2 stars"></label> 

                             <input type="radio" id="star1" name="rating" value="1" [(ngModel)]="star2" />
                             <label class="full" for="star1" title="Sucks big time - 1 star"></label> 
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>
