<ag-grid-angular
style="width: 99%; height: 500px; padding-left: 10px;"
  class="ag-theme-balham"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  [rowSelection]="rowSelection"
  (rowClicked)='onRowClicked($event)'
  
>
</ag-grid-angular>

<div class="row">
  <div class="col" >
      <button type="submit" class="btn btn-primary" (click)="approve()">Approve</button>
  </div> 
  <div class="col">
      <button type="submit" class="btn btn-primary" (click)="deny()">Deny</button>
  </div>
</div>