<form class="forma-biblioteka">
    <div class="row">
        <div class="col">
          <label >Title</label>
        </div>
        <div class="col">
          <label  >Author </label>
        </div>
        <div class="col">
          <label > Gender </label>
        </div>
        <div class="col">
          <label> Status </label>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Title">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Author">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Gender">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Status">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>