<form class="form-control">
<div class="row g-3">
    <div class="col-md-6">
      <label for="firstName" class="form-label">First Name:</label>
      <input type="text" class="form-control" id="firstName">
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label">Last Name:</label>
      <input type="text" class="form-control" id="lastName">
    </div>
    <div class="col-md-6">
      <label for="username" class="form-label">Username:</label>
      <input type="text" class="form-control" id="username">
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">E-mail:</label>
      <input type="text" class="form-control" id="email" placeholder="example@email.com">
    </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input type="text" class="form-control" id="password">
    </div>
    

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</div>
</form>