<form class="forma-biblioteka" name="search" (ngSubmit)="search()">
    
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Title" name="title" [(ngModel)]="title">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Author" name="author" [(ngModel)]="author">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Gender" name="gender" [(ngModel)]="gender">
    </div>      
    <div class="col">
      <button type="submit" class="btn btn-primary" >Search</button>
    </div>
  </div>
</form>
<br>
<ag-grid-angular
style="width: 99%; height: 500px; padding-left: 10px;"
    class="ag-theme-balham"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [rowSelection]="rowSelection"
    (rowClicked)='onRowClicked($event)'
>
</ag-grid-angular>
<br>
<div class="row">         
  <div class="col">
      <button type="submit" class="btn btn-primary" >Reserve</button>
  </div> 
</div>