<ag-grid-angular style="width: 75%; height: 500px; padding-left: 10px;"
class="ag-theme-alpine ag-selectable ag-row-hover"
  [columnDefs]="columnDefs"
  [rowSelection]="rowSelection"
  [enableCellTextSelection]="true"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  (rowClicked)='onRowClicked($event)'
  enableRangeSelection="true"
  [animateRows]="true"
  [suppressRowClickSelection]="false"
>
</ag-grid-angular><br>
<div class="row">
  <div class="col" >
      <button type="submit" class="btn btn-primary" [routerLink] = "'/review'">Review books</button>
  </div> 
  <div class="col">
      <button type="submit" class="btn btn-primary" (click)="cancelMembership()">Cancel membership</button>
  </div>        
  <div class="col">
      <button type="submit" class="btn btn-primary" (click)="renewMembership()">Renew membership</button>
  </div> 
  <div class="col" >
    <button type="submit" class="btn btn-primary" (click)="checkBalance()">Check balance</button>
  </div>

</div>